*{
    padding: 0;
    margin-top: 5px;
    box-sizing: border-box;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: darkolivegreen;
    text-transform: uppercase;
}
.nav-link:hover{
    color: darkseagreen;
}

.search{
    height: 40px;
    width: 90%;
    border-radius: 20px;
    outline: none;
    border: solid darkseagreen;
}

.btn0 {
    height: 40px;
    width: 60%;
    outline: none;
    border: none;
    background: darkolivegreen;
    color: white;
    border-radius: 20px;
    font-weight: 700;
}